body{
    background-color: #FFD756;
}

.title{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    text-decoration: underline;
}

.divDouble{
    display: flex;
    flex-direction: column;
    height: 150px;
}
.input{
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    width: 35%;
    margin-left: 33%;
    
}
.inputText{
    font-size: 30px;
    border-radius: 2.5em/2.5em;
    text-align: center;
    outline: none;
}
.plus{
    height: 41px;
    width: 41px;
    font-size: 35px;
    background-color: rgb(70, 206, 70);
    color: white;
    border: none;
    border-radius: 25%;
    
}
.buttons{
    height: 75px;
    width: 35%;
    margin-left: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}
.all{
    width: 100px;
    height: 40px;
    font-size: 25px;
    border-color: blue;
    color:blue;
    background-color: transparent;
    border-radius: 2.5em/2.5em;
}
.todo{
    width: 100px;
    height: 40px;
    font-size: 25px;
    border-color: red;
    color: red;
    background-color: transparent;
    border-radius: 2.5em/2.5em;
}
.done{
    width: 100px;
    height: 40px;
    font-size: 25px;
    border-color: green;
    color: green;
    background-color: transparent;
    border-radius: 2.5em/2.5em;
}
.tasks{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    border: solid black 1px ;
    margin-left: 12.5%;
    margin-top: 35px;
    box-shadow: black 10px 5px 5px;
}
.thing{
    display: flex;
    width: 80%;
    height: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: black solid 1px;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}
.monInp{
    height: 25px;
    width: 25px;
}
.img1{
    height : 50px;
    width: 50px;
}
.img2{
    height : 50px;
    width: 50px;
}
.elem{
    font-size: 25px;
}

.clear{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.clearBtn{
    height: 75px;
    width: 15%;
    background-color: red;
    color: white;
    border-radius: 2.5em/2.5em;
    font-size: 25px;
}